@charset "utf-8";
html,
body {
	font-family: "PingFangSC-Regular", "Helvetica Neue", Arial, "Microsoft Yahei", Helvetica, sans-serif, Lato;
	background-color: #F5F5F5;
	height: 100%;
}

body {
	max-width: 750px;
	margin: 0 auto;
	font-size: .24rem;
	outline: none;
}

i {
	font-style: normal;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

input {
	border: 0;
	outline: none;
	padding: 0;
	margin: 0;
}

input:focus {
	color: #282828;
}

button,
textarea {
	outline: none;
	padding: 0;
	margin: 0;
}

.am-fl {
	float: left;
}

.am-fr {
	float: right;
}


/*文本居中*/

.am-text-center {
	text-align: center !important;
}


/*水平居中*/

.am-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/*图片自适应*/

.am-img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.am-g {
	margin: 0 auto;
	width: 100%;
}

.am-g:before,
.am-g:after {
	content: " ";
	display: table;
}

.am-g:after {
	clear: both;
}

.red-circle-text {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: .26rem;
	height: .26rem;
	border-radius: 50%;
	font-size: .2rem;
	text-align: center;
	font-style: initial;
	line-height: .26rem;
	background-color: #f43737;
	color: #fff;
}


/*公共底部导航*/

.am-navbar {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1010;
	left: auto;
	right: auto;
	max-width: 7.5rem;
	height: auto;
	padding: .15rem 0;
	line-height: initial;
	background: #fff;
	box-shadow: 0 -2px 10px rgba(51, 51, 51, .1);
}

.am-text-center {
	text-align: center !important;
}

.am-img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.am-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.am-g {
	margin: 0 auto;
	width: 100%;
	max-width: 7.5rem;
}

.am-g:before,
.am-g:after {
	content: " ";
	display: table;
}

.am-g:after {
	clear: both;
}

.am-navbar li {
	float: left;
	width: 20%;
}

.am-navbar .am-text-center {
	font-size: .2rem;
	color: #1b1b1b;
}

.am-navbar .active {
	color: #00a36f;
}

.am-navbar-box {
	position: relative;
	width: .44rem;
	height: .44rem;
}

.am-navbar-box img {
	position: absolute;
}

.am-navbar-box .red-circle-text {
	top: -.05rem;
	right: -.05rem
}

.nav-img-big {
	left: -50%;
	top: -75%;
	width: .77rem;
	height: .77rem;
}

.nav-home {
	background: url(../images/nav-home-gray.png) no-repeat center center;
	background-size: 100% 100%;
}

.active .nav-home {
	background: url(../images/nav-home-active.png) no-repeat center center;
	background-size: 100% 100%;
}

.nav-classify {
	background: url(../images/nav-classify.png) no-repeat center center;
	background-size: 100% 100%;
}

.active .nav-classify {
	background: url(../images/nav-classify-active.png) no-repeat center center;
	background-size: 100% 100%;
}

.nav-invest .nav-img-big {
	position: absolute;
	background: url(../images/nav-invest.png) no-repeat center center;
	background-size: 100% 100%;
}

.active .nav-invest .nav-img-big {
	background: url(../images/nav-invest-active.png) no-repeat center center;
	background-size: 100% 100%;
}

.nav-cart {
	background: url(../images/nav-cart.png) no-repeat center center;
	background-size: 100% 100%;
}

.active .nav-cart {
	background: url(../images/nav-cart-active.png) no-repeat center center;
	background-size: 100% 100%;
}

.nav-mine {
	background: url(../images/nav-mine.png) no-repeat center center;
	background-size: 100% 100%;
}

.active .nav-mine {
	background: url(../images/nav-mine-active.png) no-repeat center center;
	background-size: 100% 100%;
}


/*=====================底部菜单结束=====================*/

.am-messages-center a {
	display: block;
}

.am-message-title {
	padding: .2rem 0;
	font-size: .24rem;
	color: #868686;
}

.am-message-panel {
	margin: 0 .2rem .2rem;
	padding: .3rem .2rem;
	border: 1px solid #dedede;
	background-color: #fff;
}

.am-message {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	margin-top: .3rem;
	padding-bottom: .3rem;
}

.am-messages-center li {
	margin-left: .2rem;
	border-bottom: 1px solid #e3e3e3;
}

.am-message-name {
	font-size: .3rem;
	color: #000;
}

.am-message-cont {
	font-size: .24rem;
	color: #868686;
}

.am-message-box {
	position: relative;
	margin-right: .2rem;
}

.am-message-box img {
	width: .7rem;
	height: .7rem;
}

.am-message-box i {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: .26rem;
	height: .26rem;
	border-radius: 50%;
	font-size: .2rem;
	text-align: center;
	font-style: initial;
	line-height: .26rem;
	background-color: #f43737;
	color: #fff;
}

.mess-empty {
	margin-top: 2.94rem;
	text-align: center;
	font-size: .32rem;
	color: #6e6f6f;
}

.mess-empty img {
	width: 2.28rem;
	height: 2.17rem;
	margin-bottom: .35rem;
}

.panel-group-item {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	font-size: .26rem;
	color: #6e6e6e;
}

.panel-box {
	margin-right: .2rem;
	padding: .12rem;
	border: 1px solid #dedede;
	border-radius: .15rem;
}

.panel-box img {
	width: .89rem;
	height: .95rem;
}

.panel-title {
	font-size: .3rem;
	color: #282828;
}

.panel-group {
	margin-top: .1rem;
	background: url(../images/icon-arrow-right.png) no-repeat right center;
	background-size: .16rem .25rem;
}

.red-circle-text {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: .26rem;
	height: .26rem;
	border-radius: 50%;
	font-size: .2rem;
	text-align: center;
	font-style: initial;
	line-height: .26rem;
	background-color: #f43737;
	color: #fff;
}

.i-head {
	padding: .16rem .2rem;
	background-color: #fff;
}


/*公共头部*/

.am-title {
	padding: 0 .2rem;
	height: .85rem;
	width: 7.5rem;
	line-height: .8rem;
	font-size: .32rem;
	background-color: #fff;
	color: #000;
	position: fixed;
	top: 0;
	z-index: 99;
	border-bottom: #ddd .02rem solid;
}

.am-title img {
	width: .22rem;
	height: .37rem;
	vertical-align: middle;
}

.main {
	margin-top: 1.05rem;
	overflow: hidden;
}
.main2{
	margin-top: .85rem;
	overflow: hidden;
}


/*产品列表*/
.pro-img{
	position: relative;
}
.pro-img img{
	max-height: 80%;
	max-width: 80%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.s-result-list ul li {
	position: relative;
	margin-bottom: .1rem;
	padding: 0 .2rem;
	background-color: #fff;
}

.s-result-list ul li:last-child {
	margin-bottom: 0;
}

.s-result-box {
	width: 2.4rem;
	height: 2.4rem;
	margin-top: .1rem;
}

.s-result-text {
	height: 2.6rem;
	margin-left: 2.5rem;
}

.s-result-title {
	padding-top: .3rem;
	font-size: .3rem;
	line-height: 1.3;
	color: #282828;
}

.profit-zero {
	padding: .05rem .1rem;
	border: 1px solid #f23030;
	border-radius: .05rem;
	font-size: .2rem;
	color: #f23030;
}

.self-picked {
	padding: .05rem .1rem;
	border-radius: .05rem;
	font-size: .2rem;
	color: #686868;
	background-color: #f0f2f5;
}

.margTB {
	margin: .15rem 0 .25rem;
}

.s-result-btn {
	vertical-align: middle;
	padding-right: .1rem;
}

.green-ellipse {
	padding: .1rem .15rem;
	border-radius: .4rem;
	font-size: .2rem;
	background-color: #00ad7a;
	color: #fff;
}

.s-btn-cart .i-cart {
    width: .48rem;
    height: .48rem;
}

.margV30 {
	margin: .3rem 0;
}

.s-none .s-result-box::after {
	position: absolute;
	top: .1rem;
	content: '';
	display: block;
	width: 2.4rem;
	height: 2.4rem;
	z-index: 3;
	background: url(../images/no-goods.png) no-repeat center;
	background-size: .8rem .8rem;
}

.s-none a,
.s-none img,
.s-none .s-result-title,
.s-none .margTB {
	opacity: .5;
	filter: alpha(opacity=50);
}

.i-product-price {
	font-family: '苹方';
	font-size: .26rem;
	font-weight: bold;
	color: #f23030;
}

.s-result-list {
	padding-bottom: 1rem;
}


/*选择地区*/

._citys {
	width: 100%;
	height: 300px;
	display: inline-block;
	position: fixed;
	background: #fff;
	max-width: 7.5rem;
	width: 100%;
	transition: .5s ease;
	-webkit-overflow-scrolling: touch;

	bottom: -100%;
	height: 0;
	transform: translateY(100%);
	opacity: 0;
	
}

._citys.active {
	left: 0;
	right: 0;
	margin: auto;

	bottom: 0;
	height: 65%;
	transform: translateY(0);
	opacity: 1;
}

._citys0 {
	width: 100%;
	height: 34px;
	display: inline-block;
	border-bottom: 1px solid #eaeaea;
	padding: 0 10px;
}

._citys0 li {
	position: relative;
	float: left;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	font-size: 14px;
	color: #888;
	text-align: center;
	cursor: pointer;
	margin-right: .6rem;
}

.citySel::after{
	position: absolute;
    content: '';
    display: block;
    height: 1px;
    background: #01ad7b!important;
    width: 100%;
    bottom: 0;
}

.citySel {
	color: #01ad7b!important;
}

._citys1 {
	width: 100%;
	height: 80%;
	display: inline-block;
	padding: 5px 10px;
	font-size: 14px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

._citys1 a {
	display: block;
	padding: 10px 0;
}

._citys1 a.active {
	color: #01ad7b!important;
	background: url(../images/checkmark.png) no-repeat right center;
	background-size: .3rem .2rem;
}



.btn-close-threelink {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../images/close-btn.png) no-repeat center center;
    background-size: .25rem .25rem;
}

.btn-close-layer.btn-close-threelink{
	margin-right: 0;
}
