/* Created by Liu xinggang */
@charset "utf-8";
input {
    border: 0;
    outline: none;
}

a {
    text-decoration: none;
}

.container {
    position: absolute;
    top: 0;
    left: auto;
    right: right;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-width: 7.5rem;
}

.banner .swiper-container {
    width: 100%;
    height: 100%;
}

.banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.banner .swiper-pagination {
    padding: .18rem .16rem;
    text-align: right;
}

.banner .swiper-pagination-bullets {
    bottom: 0;
}

.banner .swiper-pagination-bullet {
    width: .16rem;
    height: .16rem;
    border-radius: 50%;
    border: .02px solid #f0f0f0;
    background: none;
    transition: .3s ease;
    margin: 0 .05rem!important;
}

.banner .swiper-pagination-bullet-active {
    border: .02px solid #2d2d2d;
}

.banner .swiper-pagination-bullet {
    opacity: 1;
}

.unit {
    position: relative;
    height: 5.55rem;
    background-color: #fff;
    overflow: hidden;
}

.three {
    margin: .12rem 0;
}

.three .unit:last-child {
    padding-left: .14rem;
    background: #fff;
}

.three .unit:first-child {
    width: 4.31rem;
}

.unit a {
    display: block;
}

.half-imgbox {
    width: 3.07rem;
    height: 2.715rem;
    background-color: #fff;
    overflow: hidden;
}

.half-imgbox:last-child {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: end;
    -moz-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.flex-row {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    /* 新版本语法: Opera 12.1, Firefox 22+ */
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex-column {
    display: -webkit-box;
    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;
    /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;
    /* 混合版本语法: IE 10 */
    display: -webkit-flex;
    /* 新版本语法: Chrome 21+ */
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.cap-title {
    padding: .24rem;
    background-color: #fff;
}

.cap-title img {
    width: 1.45rem;
    height: .35rem;
    vertical-align: middle;
}

.new-product {
    background-color: #e3edd5;
}

.new-product .flex-item-info {
    color: #fff;
}

.flex-center {
    -webkit-box-pack: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.space-around {
    -webkit-box-pack: justify;
    -moz-justify-content: space-around;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.align-center {
    -webkit-box-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex-item-title {
    font-size: .36rem;
    color: #333;
}

.flex-item-title-small {
    font-size: .18rem;
    color: #333;
}

.flex-item-info {
    margin: .25rem 0 .05rem;
    border: none;
    outline: none!important;
    font-size: .2rem;
    background: #00a36f!important;
}

.flex-item-price {
    font-family: '苹方';
    font-size: .4rem;
    font-weight: bold;
    color: #d71d13;
}

.new-product {
    padding: .24rem;
}

.new-product .flex-item-box {
    position: relative;
    width: 3.89rem;
    height: 2.85rem;
    margin-left: .24rem;
}

.new-product .flex-item-box img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.i-products {
    margin-bottom: 1.6rem;
}

.i-products li {
    float: left;
    width: 49.6%;
    margin-top: .8%;
    background: #fff;
}

.i-products li:nth-child(even) {
    margin-left: .8%;
}

.i-product-title {
    padding-bottom: .2rem;
    font-size: .26rem;
    font-weight: bold;
    color: #333;
}

.paddH24 {
    padding: 0 .2rem;
}

.marg30 {
    margin: .3rem 0;
}

.i-product-info {
    font-size: .2rem;
    color: #fff;
    background: #00a36f;
}

.i-product-info:hover {
    background: #00a36f;
}

.i-product-price {
    font-family: '苹方';
    font-size: .26rem;
    font-weight: bold;
    color: #f23030;
}

.i-product-text {
    padding-bottom: .3rem;
}

.am-cf:before,
.am-cf:after {
    content: " ";
    display: table;
}

.am-cf:after {
    clear: both;
}

.am-fl {
    float: left;
}

.am-fr {
    float: right;
}

.am-btn {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;
    padding: .5em 1em;
}

.am-btn.am-round {
    border-radius: 1000px;
}

/*=====================底部菜单结束=====================*/

.am-messages-center a {
    display: block;
}

.am-message-title {
    padding: .2rem 0;
    font-size: .24rem;
    color: #868686;
}

.am-message-panel {
    margin: 0 .2rem .2rem;
    padding: .3rem .2rem;
    border: 1px solid #dedede;
    background-color: #fff;
}

.am-message {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    margin-top: .3rem;
    padding-bottom: .3rem;
}

.am-messages-center li {
    margin-left: .2rem;
    border-bottom: 1px solid #e3e3e3;
}

.am-message-name {
    font-size: .3rem;
    color: #000;
}

.am-message-cont {
    font-size: .24rem;
    color: #868686;
}

.am-message-box {
    position: relative;
    margin-right: .2rem;
}

.am-message-box img {
    width: .7rem;
    height: .7rem;
}

.am-message-box i {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: .26rem;
    height: .26rem;
    border-radius: 50%;
    font-size: .2rem;
    text-align: center;
    font-style: initial;
    line-height: .26rem;
    background-color: #f43737;
    color: #fff;
}

.mess-empty {
    margin-top: 2.94rem;
    text-align: center;
    font-size: .32rem;
    color: #6e6f6f;
}

.mess-empty img {
    width: 2.28rem;
    height: 2.17rem;
    margin-bottom: .35rem;
}

.panel-group-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    font-size: .26rem;
    color: #6e6e6e;
}

.panel-box {
    margin-right: .2rem;
    padding: .12rem;
    border: 1px solid #dedede;
    border-radius: .15rem;
}

.panel-box img {
    width: .89rem;
    height: .95rem;
}

.panel-title {
    font-size: .3rem;
    color: #282828;
}

.panel-group {
    margin-top: .1rem;
    background: url(../images/icon-arrow-right.png) no-repeat right center;
    background-size: .16rem .25rem;
}

.red-circle-text {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: .26rem;
    height: .26rem;
    border-radius: 50%;
    font-size: .2rem;
    text-align: center;
    font-style: initial;
    line-height: .26rem;
    background-color: #f43737;
    color: #fff;
}

.i-head {
    padding: .16rem .2rem;
    background-color: #fff;
}

/* -- 搜索开始 -- */
.i-search {
    width: 6.4rem;
    height: .6rem;
    border-radius: .1rem;
    background-color: #f0f0f0;
}

.i-search input {
    display: block;
    width: 4.96rem;
    height: .6rem;
    border: none;
    outline: none;
    font-family: '萍方-简';
    font-size: .28rem;
    color: #b3b3b3;
    background-color: #f0f0f0;
}

.i-search input::placeholder {
    color: #b3b3b3;
}

.i-search img {
    width: .28rem;
    height: .28rem;
    margin: .16rem;
}

.i-search .btn-search-close img {
    width: .23rem;
    height: .23rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease, visibility .5s ease;
    transition: opacity .5s ease, visibility .5s ease;
    z-index: 301;
    display: none;
}

.active .i-search .btn-search-close img {
    opacity: 1;
    visibility: visible;
    display: block;
}

.active.i-head {
    border-bottom: 1px solid #ddd;
}

.active.i-head .i-search {
    width: 6.06rem;
}

.active.i-head .i-search .btn-search-close img {
    width: .23rem;
    height: .23rem;
    margin: 0;
    float: right;
    margin-top: -.42rem;
    margin-right: .2rem;
}

.active.i-head .i-search input {
    width: 4.8rem;
}

.active.i-head .i-search input::-webkit-input-placeholder {
    color: #bcbcbc;
}

.active.i-head .i-search input::-moz-placeholder {
    color: #bcbcbc;
}

.active.i-head .i-search input::-ms-placeholder {
    color: #bcbcbc;
}

.active.i-head .btn-goback {
    display: block;
    margin-right: .1rem;
}

.active.i-head .btn-infos {
    display: none;
}

/* -- 搜索结束 -- */
.i-infos {
    position: relative;
    margin-top: .1rem;
}

.i-infos .red-circle-text {
    top: -.1rem;
    right: -.1rem;
}

.i-infos img {
    width: .42rem;
    height: .42rem;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*=====================分类页开始=====================*/
.am-category-list {
    position: relative;
    top: .92rem;
    border-top: 1px solid #ddd;
}

.c-navbar {
    position: fixed;
    overflow: hidden;
    width: 1.8rem;
    background-color: #f5f5f5;
}

.c-goods {
    position: fixed;
    overflow: hidden;
    max-width: 5.7rem;
    width: 100%;
    margin-left: 1.8rem;
    padding: 0 .2rem;
    background-color: #fff;
}

.c-navbar-item {
    padding: .3rem 0;
    font-size: .26rem;
    color: #333;
}

.c-navbar-item:hover {
    background-color: #f5f5f5;
    color: #333;
}

.c-navbar .active,
.c-navbar-item:active {
    border-left: .05rem solid #00a36f;
    background-color: #fff;
    color: #00a36f;
}

.ad-big {
    padding: .24rem 0;
}

.ad-big img {
    border-radius: .05rem;
}

.c-name {
    padding-top: .1rem;
    font-family: '苹方';
    font-size: .26rem;
    color: #333;
}

.c-list dd {
    float: left;
    width: 33.333%;
}

.c-list dd a {
    display: block;
}

.c-item-box {
    width: 1.6rem;
    height: 1.6rem;
}

.c-item-title {
    font-size: .24rem;
    color: #868686;
    padding: .08rem 0;
}

.hot-brand .c-item-box {
    width: 1.62rem;
    height: 1.62rem;
    border: 1px solid #e3e3e3;
}

.hot-brand .c-item-title {
    padding-bottom: .12rem;
    color: #484848;
}

.paddB40 {
    padding-bottom: .35rem;
    padding-top: .15rem;
}

/*=====================分类页结束=====================*/

/*=====================搜索1开始=====================*/

.s-controlbar {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ededed;
    font-size: .28rem;
    background-color: #fff;
}

.s-controlbar {
    position: fixed;
    top: .91rem;
    z-index: 997;
    width: 100%;
    max-width: 7.5rem;
}

.s-controlbar>ul {
    padding: .22rem 0;
}

.s-controlbar>ul li {
    float: left;
    width: 25%;
    text-align: center;
}

.s-controlbar .s-controlbar-item {
    display: block;
    margin: 0 auto;
    color: #282828;
}

.s-controlbar-item span {
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background: url(../images/icon-triangle.png) no-repeat center;
    background-size: 100%;
    background-size: .13rem .07rem;
}

.s-controlbar-item.icon-filter span {
    background: url(../images/icon-filter.png) no-repeat center;
    background-size: .19rem .19rem;
}

.s-controlbar-item.icon-filter.active span {
    background: url(../images/icon-filter-active.png) no-repeat center;
    background-size: .19rem .19rem;
}

.s-controlbar-item.active {
    color: #00ad7a;
}

.s-controlbar-item.active span {
    background: url(../images/icon-triangle-active.png) no-repeat center;
    background-size: 100%;
}

.s-result-list ul li {
    position: relative;
    margin-bottom: .1rem;
    padding: 0 .2rem;
    background-color: #fff;
}

.s-result-list ul li:last-child {
    margin-bottom: 0;
}

.s-result-box {
    width: 2.4rem;
    height: 2.4rem;
    margin-top: .1rem;
}

.s-result-text {
    height: 2.6rem;
    margin-left: 2.5rem;
}

.s-result-title {
    padding-top: .3rem;
    font-size: .3rem;
    line-height: 1.3;
    color: #282828;
}

.profit-zero {
    padding: .05rem .1rem;
    border: 1px solid #f23030;
    border-radius: .05rem;
    font-size: .2rem;
    color: #f23030;
}

.self-picked {
    padding: .05rem .1rem;
    border-radius: .05rem;
    font-size: .2rem;
    color: #686868;
    background-color: #f0f2f5;
}

.margTB {
    margin: .15rem 0 .25rem;
}

.green-ellipse {
    padding: .1rem .15rem;
    border-radius: .4rem;
    font-size: .2rem;
    background-color: #00ad7a;
    color: #fff;
}

.margV30 {
    margin: .3rem 0;
}

.s-none .s-result-box::after {
    position: absolute;
    top: .1rem;
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 3;
    background: url(../images/no-goods.png) no-repeat center;
    background-size: .8rem .8rem;
}

.s-none a,
.s-none img,
.s-none .s-result-title,
.s-none .margTB {
    opacity: .5;
    filter: alpha(opacity=50);
}

.hide {
    display: none!important;
}

.btn-goback {
    display: none;
    font-size: .28rem;
    color: #999;
}

.btn-goback:hover {
    color: #999;
}

.bg-f2 {
    display: inline-block;
    margin: 0 .075rem .2rem;
    padding: .1rem .2rem;
    border-radius: .05rem;
    font-size: .24rem;
    background-color: #f2f2f2;
    color: #494848;
}

.h-title {
    padding: .2rem 0;
    font-family: '苹方';
    font-weight: bold;
    font-size: .24rem;
    color: #282828;
}

#historys {
    position: fixed;
    top: .93rem;
    max-width: 7.5rem;
    height: 0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease, visibility .5s ease;
    transition: opacity .5s ease, visibility .5s ease;
    z-index: 1011;
}

#historys.active {
    opacity: 1;
    visibility: visible;
}

.historys-list {
    padding: .2rem .3rem;
    background-color: #fff;
}

.empty-all {
    display: inline-block;
    margin-top: .3rem;
    padding: .15rem .6rem;
    border: 1px solid #e3e3e3;
    border-radius: .1rem;
    font-size: .26rem;
    color: #868686;
}

.empty-all img {
    width: .26rem;
    height: .26rem;
}

.c-goods-item {
    display: none;
}

.c-goods-item:first-child {
    display: block;
}

.iscroll-category,
.iscroll-goods {
    position: relative;
    overflow: hidden;
    -ms-touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

/*=====================搜索1结束=====================*/

/*=====================搜索2开始=====================*/

.s-controlcont {
    position: fixed;
    top: 0;
    font-size: .28rem;
    color: #333;
    width: 100%;
    max-width: 7.5rem;
    overflow: hidden;
}

.s-controlcont-i {
    padding: .4rem .6rem;
    background-color: #f5f5f5;
}

.layermask {
    position: fixed;
    z-index: 9998;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 7.5rem;
    background: url(../images/hover-mask.png) repeat;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease, visibility .5s ease;
    transition: opacity .5s ease, visibility .5s ease;
    z-index: 301;
}

.layer-cont>ul {
    display: none;
}

.layer-cont>ul.s-filter {
    display: block;
}

.s-controlcont .cell.active {
    color: #00ad7a;
    background: url(../images/checkmark.png) no-repeat right center;
    background-size: .32rem .2rem;
}

.cell {
    margin-bottom: .4rem;
}

.cell:last-child {
    margin-bottom: 0;
}

.s-filter {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    left: 100%;
    width: 6.7rem;
    height: 100%;
    z-index: 9999;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.s-filter.show {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.s-controlcont-i.s-filter {
    padding: 0;
}

.s-filter>ul {
    height: 100%;
    padding-bottom: 1.68rem;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
}

.s-filter input::-webkit-outer-spin-button,
.s-filter input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.s-filter input[type="number"] {
    -moz-appearance: textfield;
}

.s-d-title {
    font-size: .32rem;
    color: #2d2d2d;
}

.s-d-box {
    padding: .24rem;
}

.s-dispatching .s-d-item:first-child {
    padding-top: .38rem;
}

.s-dispatching .s-d-item {
    padding-bottom: .3rem;
}

.s-d-locate,
.s-d-locate:hover {
    color: #02ad7c;
}

.in-stock {
    display: inline-block;
    vertical-align: middle;
    width: 1.96rem;
    padding: .085rem 0;
    border-radius: .05rem;
    font-size: .26rem;
    text-align: center;
    background-color: #f6f5f5;
    border: 1px solid #f6f5f5;
}

.in-stock:first-child {
    margin-right: .15rem;
}

.in-stock.active {
    border: 1px solid #02ad7c;
    background-color: #fff;
    color: #02ad7c;
}

.s-d-range {
    margin-top: .2rem;
    text-align: center;
}

.s-d-range span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: .1rem 0;
    border-radius: .05rem;
}

.s-d-range span:nth-child(odd) {
    width: 2.85rem;
    background-color: #f6f5f5;
}

.s-d-range input {
    vertical-align: middle;
    width: 100%;
    background: none;
}

.s-d-locate img {
    width: .21rem;
    height: .25rem;
    vertical-align: middle;
}

.divider-f8 {
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    height: .24rem;
    background-color: #f8f8f8;
}

.btn-switch {
    margin-top: .02rem;
    font-size: .28rem;
    color: #aeaeae;
}

.btn-switch:hover,
.btn-switch:focus {
    color: #aeaeae;
}

.btn-switch span {
    display: inline-block;
    width: .28rem;
    height: .28rem;
    vertical-align: middle;
    background: url(../images/icon-arrow-down.png) no-repeat center center;
    background-size: .28rem .14rem;
}

.grid {
    transition: height .4s ease;
}

.grid-box {
    padding: .24rem .24rem 0;
}

.grid-cell {
    float: left;
    width: 33.333333%;
    margin-bottom: 1.8%;
    text-align: center;
}

.grid-cell span {
    display: inline-block;
    vertical-align: middle;
    width: 1.96rem;
    padding: .085rem 0;
    border-radius: .05rem;
    font-size: .26rem;
    text-align: center;
    background-color: #f6f5f5;
    border: 1px solid #f6f5f5;
}

.s-d-t {
    padding: .24rem 0 .2rem;
}

.s-filter-btns {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #d8d8d8;
    max-width: 6.7rem;
    width: 100%;
}

.s-filter-btns .s-filter-btn {
    width: 50%;
    padding: .2rem 0;
    font-size: .32rem;
    text-align: center;
    color: #282828;
    display: block;
    border: none;
    outline: none;
}

.s-filter-btns .s-filter-btn:active {
    opacity: .8;
}

.s-confirm {
    background-color: #02ad7c;
    color: #fff!important;
}

.s-reset {
    background-color: #fff;
}

.fixed-unit {
    position: fixed;
    right: .54rem;
    bottom: .45rem;
}

.fixed-unit a {
    position: relative;
}

.fixed-unit a,
.fixed-unit a img {
    display: block;
    margin-top: .3rem;
}

.fixed-unit a img {
    width: .76rem;
    height: .76rem;
}

/*=====================搜索2结束=====================*/

.fixed {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    max-width: 7.5rem;
}

.paddV90 {
    padding-top: .9rem;
}

.top-distance {
    padding-top: 1.75rem;
}

/* -- 共享投资 -- */

.b100 {
    bottom: 1rem!important;
}

.phone-num {
    width: 4.5rem;
}

.invest-caption {
    font-size: .32rem;
    color: #00ad7a;
}

.btn-partake {
    font-size: .3rem;
    color: #999;
}

.margT20 {
    margin-top: -.2rem;
}

.vessel {
    padding-top: .85rem;
    overflow: hidden;
}

.be-investor {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: 7.5rem;
    padding: .3rem 0;
    font-size: .32rem;
    background-color: #00a36f;
    color: #fff;
    border-radius: none;
    appearance: none;
    -webkit-appearance: none;
}

.btn-invest {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    max-width: 7.5rem;
    padding: .3rem 0;
    font-size: .32rem;
    border: none;
    outline: none;
    background-color: #00a36f;
    color: #fff;
}

.info-success {
    margin-top: .2rem;
    font-size: .4rem;
    color: #000;
}

.info-success-hint {
    padding: .5rem .3rem .7rem;
    font-size: .28rem;
    color: #888;
}

.btn-back-center {
    display: block;
    margin: 0 .3rem;
    padding: .24rem;
    border-radius: .1rem;
    font-size: .32rem;
    text-align: center;
    background-color: #00c989;
    color: #fff;
}

.success-box>img {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0 .35rem;
}

.bg-white {
    background-color: #fff!important;
}

.invest-role {
    padding: .3rem .2rem;
    margin-bottom: .2rem;
}

.invest-title {
    vertical-align: middle;
    font-size: .28rem;
    color: #282828;
}

.invest-title-small {
    vertical-align: middle;
    font-size: .26rem;
    color: #282828;
}

.invest-title,
.invest-title-small {
    margin-right: .25rem;
}

.invest-role-group {
    margin-top: .2rem;
}

.invest-role-item {
    display: inline-block;
    padding: .15rem;
    border: 1px solid #acacac;
    border-radius: .1rem;
    font-size: .26rem;
    color: #acacac;
    transition: .3s ease;
}

.active.invest-role-item {
    color: #01ad7b;
    border: 1px solid #01ad7b;
}

.invest-bone {
    padding-left: .2rem;
}

.invest-bone li {
    padding: .3rem 0;
    border-bottom: 1px solid #e5e5e5;
    transition: .3s ease;
}

.invest-bone li:last-child {
    position: relative;
}

.invest-text {
    vertical-align: middle;
    color: #666;
    font-size: .28rem;
    width: 75%;
}

.invest-text input::placeholder {
    color: #bfbfbf;
}

.invest-text-small {
    vertical-align: middle;
    color: #666;
    background: none;
    font-size: .26rem;
}

.invest-text-small input::placeholder {
    color: #bfbfbf;
}

.margB132 {
    margin-bottom: 1.32rem;
}

.margB20 {
    margin-bottom: .2rem;
}

.margB10 {
    margin-bottom: .1rem;
}

.bank-info {
    margin: .3rem .2rem .3rem 0;
}

.bank-info-item {
    margin-bottom: 1px;
    padding: .2rem;
    border-radius: .1rem;
    background-color: #f9f9f9;
}

.invest-personal {
    width: 5.5rem;
    min-height: 1.6rem;
    border: none;
    outline: none;
    resize: none;
    resize: vertical;
}

.hint-icon {
    width: .16rem;
    height: .25rem;
}

.btn-choice {
    display: block;
    *display: inline;
    *zoom: 1;
    width: 78%;
    background: url(../images/icon-arrow-right.png) no-repeat right center;
    background-size: .16rem .25rem;
}

.btn-get-yzm {
    display: inline-block;
    width: 2.1rem;
    height: .6rem;
    border: 1px solid #01ad7b;
    border-radius: .05rem;
    font-size: .26rem;
    font-size: 12px;
    text-align: center;
    line-height: .6rem;
    color: #01ad7b;
    padding: 0 .05rem;
    position: absolute;
    top: .2rem;
    right: .2rem;
    background: none;
}

.oneside {
    width: 6.4rem;
    height: 3rem;
    background-color: #f8f8f8;
    transition: .3s ease;
}

.oneside>img {
    width: 1.16rem;
    height: 1.16rem;
    margin-bottom: .2rem;
    transition: .3s ease;
}

.file-box {
    position: relative;
    overflow: hidden;
    width: 6.4rem;
    height: 3rem;
    margin-bottom: .3rem;
    margin-left: auto;
    margin-right: auto;
}

.file-box .file_input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.layer-h2 {
    padding: .3rem 0;
    font-size: .3rem;
    color: #303030;
}

.btn-close-layer {
    display: block;
    width: .2rem;
    height: .4rem;
    margin-right: .3rem;
    background: url(../images/close-btn.png) no-repeat center;
    background-size: .2rem .2rem;
}

.btn-close-layer img {
    width: .25rem;
    height: .25rem;
}

.layer-idcard,
.layer-idcard {
    padding-bottom: .3rem;
}

.layer-area>h2>span>img {
    width: .25rem;
    height: .25rem;
}

.layer-area,
.layer-idcard {
    padding-bottom: .3rem;
}

.layer-toggle {
    position: fixed;
    bottom: -100%;
    width: 100%;
    max-width: 7.5rem;
    height: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
}

.layer-toggle input {
    border: none;
    -webkit-appearance: none;
}

.layer-toggle.show {
    bottom: 1rem;
    z-index: 999;
    height: auto;
    opacity: 1;
    filter: alpha(opacity=100);
}

.layermask.show {
    opacity: 1;
    visibility: visible;
}

.btn-close-threelink {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: url(../images/close-btn.png) no-repeat center center;
    background-size: .25rem .25rem;
}

/* -- 商品详情 -- */

.img-spot {
    width: .38rem!important;
    height: .09rem!important;
}

.p-tab-item {
    position: relative;
    margin: 0 .15rem;
    color: #000;
    transition: .3s ease;
}

.active.p-tab-item {
    color: #00a36f;
}

.p-tab-item::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    height: .02rem;
    width: 0;
    background-color: #00a36f;
    transition: .3s ease;
}

.active.p-tab-item::after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    height: .02rem;
    width: 100%;
    background-color: #00a36f;
}

.p-pagination {
    position: absolute;
    bottom: .7rem;
    right: .3rem;
    z-index: 1011;
    width: .7rem;
    height: .35rem;
    border-radius: .2rem;
    font-size: .2rem;
    text-align: center;
    line-height: .35rem;
    background-color: #999;
    color: #fff;
}

.p-title {
    padding-bottom: .1rem;
    font-size: .3rem;
    color: #282828;
}

.p-info {
    padding: 0 .2rem;
    border-top: 1px solid #eee;
}

.p-price {
    font-family: '苹方';
    font-size: .36rem;
    font-weight: bold;
    color: #f23030;
}

.p-price-unit {
    padding: .25rem 0 .15rem;
}

.p-price-unit span {
    vertical-align: middle;
}

.p-price-2 {
    padding: .04rem .1rem;
    border: 1px solid #00a36f;
    border-radius: .05rem;
    font-size: .22rem;
    color: #00a36f;
}

.p-describe {
    padding-bottom: .3rem;
    font-size: .26rem;
    color: #7e7e7e;
}

.inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.p-brand-box {
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-fa {
    background-color: #fafafa;
}

.p-advantage {
    border-top: 1px solid #eee;
}

.p-advantage-cell {
    margin-left: .1rem;
    vertical-align: middle;
    font-size: .22rem;
    color: #9b9b9b;
}

.p-advantage-cell>img {
    width: .19rem;
    height: .19rem;
    vertical-align: middle;
}

.p-brand {
    padding: .2rem 0;
}

.p-brand>p {
    padding: .2rem;
}

.p-seclector li {
    margin-top: .2rem;
    padding: .2rem;
    background-color: #fff;
}

.p-s-name {
    width: .8rem;
    margin: .01rem 0;
    font-size: .26rem;
    color: #969696;
}

.p-s-text {
    display: block;
    font-size: .28rem;
    background: url(../images/icon-arrow-right.png) no-repeat right center;
    background-size: .16rem .25rem;
    color: #282828;
}

.p-s-item {
    margin-left: .8rem;
}

.p-s-explain {
    display: block;
    margin-top: .1rem;
    color: #00a36f;
}

.p-c-title {
    position: relative;
    padding: .4rem .2rem .3rem 0;
    border-bottom: 1px solid #e3e3e3;
    font-size: .26rem;
    color: #868686;
}

.p-c-title::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: .08rem;
    z-index: 2;
    display: block;
    width: .12rem;
    height: .06rem;
    background: url(../images/icon-arrow-up.png) no-repeat center center;
    background-size: contain;
    background-color: #fff;
}

.p-c-percent {
    color: #282828;
}

.p-c-percent i {
    color: #00a36f;
}

.p-comments {
    padding: 0 0 .3rem .2rem;
}

.p-c-user {
    padding: .2rem .2rem .2rem 0;
    line-height: .46rem;
}

.u-info {
    color: #282828;
}

.u-info>img {
    width: .46rem;
    height: .46rem;
    border-radius: 50%;
    vertical-align: middle;
}

.u-info span {
    vertical-align: middle;
}

.img-star {
    width: .2rem;
    height: .2rem;
}

.p-c-cont {
    padding-right: .2rem;
    font-size: .26rem;
    text-align: justify;
    color: #282828;
}

.rank-grade {
    padding-bottom: .1rem;
}

img.w170 {
    display: block;
    max-width: 1.7rem!important;
    height: auto!important;
}

.gallery {
    margin-top: .2rem;
    margin-left: auto;
    margin-right: auto;
}

.gallery .inline-block {
    position: relative;
    margin: .05rem auto;
    width: 1.7rem;
    height: 1.7rem;
}

.gallery .w170 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.space-around a {
    display: block;
    margin: 0 .05rem;
}

.p-c-cont img {
    max-width: 100%;
    height: auto;
}

.p-c-product {
    padding: .2rem 0;
    border-bottom: 1px solid #e3e3e3;
    font-size: .24rem;
    color: #969696;
}

.btn-view-details {
    display: block;
    width: 7.1rem;
    height: .6rem;
    border: 1px solid #969696;
    border-radius: .05rem;
    font-size: .24rem;
    text-align: center;
    line-height: .6rem;
    color: #282828;
}

.margT30 {
    margin-top: .3rem;
}

.action-menu {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 1rem;
    border-top: 1px solid #e3e3e3;
    max-width: 7.5rem;
}

.action-menu-sheet {
    float: left;
    display: table;
    width: 33.333%;
    height: 100%;
}

.action-menu-item {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
}

.action-menu-sheet {
    text-align: center;
}

.action-menu-sheet a {
    display: table-cell;
    vertical-align: middle;
    font-size: .2rem;
    color: #868686;
}

.action-menu-box {
    position: relative;
    width: .4rem;
    height: .4rem;
    margin: .05rem auto;
}

.action-menu-box .red-circle-text {
    top: -50%;
    bottom: 0;
    left: 0;
    right: -50%;
    margin: auto;
}

.add_num {
    position: absolute;
    padding: 2px 3px;
    color: #e4393c;
    font-weight: 700;
    top: -10px;
    left: 15px;
    display: none;
    font-size: 18px;
    pointer-events: none;
    z-index: 30;
}

.add_num.show {
    display: block;
    opacity: 0;
    -webkit-animation: num_move 2s
}

@-webkit-keyframes num_move {
    0% {
        top: -10px;
        opacity: 1
    }
    50% {
        top: -20px;
        opacity: 1
    }
    100% {
        top: -20px;
        opacity: 0
    }
}

.add_num {
    position: absolute;
    padding: 2px 3px;
    color: #e4393c;
    font-weight: 700;
    top: -10px;
    left: 15px;
    display: none;
    font-size: .18rem;
}

.add_num.show {
    display: block;
    opacity: 0;
    -webkit-animation: add_num 2s
}

@-webkit-keyframes add_num {
    0% {
        top: -10px;
        opacity: 1
    }
    50% {
        top: -20px;
        opacity: 1
    }
    100% {
        top: -20px;
        opacity: 0
    }
}

.add_num.show {
    display: block;
    opacity: 0;
    -webkit-animation: de_add_num 2s
}

@-webkit-keyframes de_add_num {
    0% {
        top: -10px;
        opacity: 1
    }
    50% {
        top: -25px;
        opacity: 1
    }
    100% {
        top: -25px;
        opacity: 0
    }
}

.action-menu-box img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.action-a::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #e3e3e3;
}

.btn-menu {
    display: block;
    border: none;
    width: 50%;
    height: 1rem;
    border: none;
    outline: none;
    font-size: .3rem;
    text-align: center;
    color: #282828;
    background-color: #fff;
}

.btn-menu:active {
    opacity: .5;
}

.btn-buy {
    color: #fff;
    background: #00a36f;
}

.h100 {
    height: 1rem;
    font-size: .24rem;
    color: #838383;
}

.h100 img {
    width: .28rem;
    height: .14rem;
}

.margB100 {
    margin-bottom: 1rem;
}

.nobor {
    border: none!important;
}

/* -- 溯源资料 -- */

.material-tile {
    padding: .3rem 0;
    font-family: '苹方';
    font-size: .28rem;
    color: #282828;
}

.p-m-box {
    margin-bottom: .2rem;
    padding: 0 .2rem .3rem;
}

.video-box {
    width: 7.1rem;
    height: 3.54rem;
}

.video-box .video-js {
    width: 100%!important;
    height: 100%!important;
    object-fit: contain;
}

.overflow-hide {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.paddB132 {
    padding-bottom: 0rem;
}

/* -- 商品规格弹出 -- */

.p-spec {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70%;
    background-color: #fff;
    border-top: 1px solid #dadada;
    z-index: 9999;
    display: none;
    transition: .5s ease;
    padding-bottom: 1.2rem;
}

/* -- JD弹层动画 -- */

.spec-menu-show {
    -webkit-animation: spec-menu-move .5s 1 ease 0s;
    -moz-animation: spec-menu-move .5s 1 ease 0s;
    -ms-animation: spec-menu-move .5s 1 ease 0s;
    -o-animation: spec-menu-move .5s 1 ease 0s;
    animation: spec-menu-move .5s 1 ease 0s;
}

@-webkit-keyframes spec-menu-move {
    0% {
        height: 0
    }
    100% {
        height: 70%
    }
}

@-moz-keyframes spec-menu-move {
    0% {
        height: 0
    }
    100% {
        height: 70%
    }
}

@-ms-keyframes spec-menu-move {
    0% {
        height: 0
    }
    100% {
        height: 70%
    }
}

@-o-keyframes spec-menu-move {
    0% {
        height: 0
    }
    100% {
        height: 70%
    }
}

@keyframes spec-menu-move {
    0% {
        height: 0
    }
    100% {
        height: 70%
    }
}

@-webkit-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@-moz-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@-ms-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@-o-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

}

@media screen and (orientation:landscape) {
    .spec-menu-content {
        height: 70%
    }
    @-webkit-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-moz-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-ms-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-o-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-webkit-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @-moz-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @-ms-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @-o-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
}

.spec-menu-show {
    -webkit-animation: spec-menu-move .5s 1 ease 0s;
    -moz-animation: spec-menu-move .5s 1 ease 0s;
    -ms-animation: spec-menu-move .5s 1 ease 0s;
    -o-animation: spec-menu-move .5s 1 ease 0s;
    animation: spec-menu-move .5s 1 ease 0s
}

.spec-menu-hide {
    -webkit-animation: spec-menu-back .5s 1 ease 0s;
    -moz-animation: spec-menu-back .5s 1 ease 0s;
    -ms-animation: spec-menu-back .5s 1 ease 0s;
    -o-animation: spec-menu-back .5s 1 ease 0s;
    animation: spec-menu-back .5s 1 ease 0s;
}

@-webkit-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@-moz-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@-ms-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@-o-keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

@keyframes spec-menu-back {
    0% {
        height: 70%
    }
    100% {
        height: 0
    }
}

}

@media screen and (orientation:landscape) {
    .spec-menu-content {
        height: 70%
    }
    @-webkit-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-moz-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-ms-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-o-keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @keyframes spec-menu-move {
        0% {
            height: 0
        }
        100% {
            height: 70%
        }
    }
    @-webkit-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @-moz-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @-ms-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @-o-keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
    @keyframes spec-menu-back {
        0% {
            height: 70%
        }
        100% {
            height: 0
        }
    }
}

.spec-menu-show {
    -webkit-animation: spec-menu-move .5s 1 ease 0s;
    -moz-animation: spec-menu-move .5s 1 ease 0s;
    -ms-animation: spec-menu-move .5s 1 ease 0s;
    -o-animation: spec-menu-move .5s 1 ease 0s;
    animation: spec-menu-move .5s 1 ease 0s
}

.spec-menu-hide {
    -webkit-animation: spec-menu-back .5s 1 ease 0s;
    -moz-animation: spec-menu-back .5s 1 ease 0s;
    -ms-animation: spec-menu-back .5s 1 ease 0s;
    -o-animation: spec-menu-back .5s 1 ease 0s;
    animation: spec-menu-back .5s 1 ease 0s
}

.p-s-head {
    position: relative;
    height: 1.88rem;
    border-bottom: 1px solid #e3e3e3;
}

.p-s-box {
    position: absolute;
    top: -.45rem;
    left: .2rem;
    width: 2rem;
    height: 2rem;
    border-radius: .1rem;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    overflow: hidden;
}

.p-s-price {
    margin-bottom: .2rem;
    font-family: '苹方';
    font-size: .34rem;
    color: #f23030;
}

.btn-profit {
    font-size: .22rem;
    border-radius: .05rem;
    border: 1px solid #00a36f;
    padding: .05rem .1rem;
    color: #00a36f;
}

.p-s-txt {
    margin: 0 0 .3rem 2.48rem;
    padding-top: .4rem;
}

.p-s-amount,
.p-s-title {
    padding: .3rem 0;
    font-size: .26rem;
    color: #626262;
}

.p-s-body {
    padding: 0 .2rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    bottom: 43px;
    top: 1.88rem;
    left: 0;
    right: 0;
    bottom: 1rem;
    padding-bottom: 1rem;
}

.p-s-style {
    display: inline-block;
    min-width: 1.42rem;
    height: .56rem;
    border: 1px solid #e3e3e3;
    border-radius: .05rem;
    font-size: .26rem;
    text-align: center;
    line-height: .56rem;
    color: #626262;
}

.p-s-style.active {
    border: 1px solid #00a36f;
    color: #00a36f;
}

.chunk {
    margin-bottom: .3rem;
    padding: 0 .2rem;
}

.btn-amount-control {
    border: 1px solid #232326;
    border-radius: .05rem;
    line-height: .45rem;
}

.btn-amount-control .btn-amount-val {
    float: left;
    text-align: center;
    display: block;
    width: .7rem;
    height: .45rem;
    border: none;
    outline: none;
}

.btn-amount {
    float: left;
    position: relative;
    display: block;
    width: .5rem;
    height: .45rem;
    text-align: center;
}

.btn-amount-del::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #232326;
}

.btn-amount-add::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #232326;
}

.btn-block {
    display: block;
    width: 50%;
    height: 1rem;
    border: none;
    outline: none;
    font-size: .32rem;
    text-align: center;
    color: #fff;
}

.btn-block:active {
    box-shadow: 0 0 4px #494848;
}

.btn-orange {
    background-color: #ffae00;
}

.btn-bice {
    background-color: #00a36f;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
    z-index: 302;
    width: 100%;
    max-width: 7.5rem;
}

/* -- 商品’详情页面‘ -- */

.p-d-title {
    padding: .3rem;
    font-size: .24rem;
    text-align: center;
    color: #282828;
}

.p-detail {
    padding: 0 .2rem .3rem;
}

.p-detail * {
    transition: .3s ease;
}

.table-container {
    padding: 0 .2rem;
}

.table-container table {
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    min-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
    word-break: break-all;
    color: #a2a2a2;
}

.table-container table td {
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    padding: .2rem;
    color: #848689;
}

.radio-span {
    width: .3rem;
    height: .3rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
}

/* -- 商品’评价页面‘ -- */

.p-e-top {
    margin-bottom: .2rem;
    font-size: .24rem;
    color: #282828;
}

.p-e-top .radio-group {
    padding: 0 .2rem;
    border-bottom: 1px solid #e3e3e3;
}

.radio-span {
    transition: .3s ease-in-out;
}

.radio-span input {
    display: none;
}

.radio-span.active {
    border: 1px solid #fff;
    background: url(../images/apply-finished.png) no-repeat center center;
    background-size: cover;
}

.radio-group dd {
    padding: .3rem 0;
}

.p-e-types {
    padding: .3rem .2rem;
}

.p-e-types dd {
    float: left;
    min-width: 22.8%;
    height: .56rem;
    margin: 0 1.1% 2.2%;
    border: 1px solid #68e6be;
    border-radius: .05rem;
    text-align: center;
    line-height: .56rem;
    background-color: #e7f7f2;
    color: #262626;
    transition: .3s ease;
}

.p-e-types dd a {
    color: #262626;
    ;
}

.p-e-types dd.active {
    border: 1px solid #00a36f;
    color: #00a36f;
    background: none;
}

.btn-e-more {
    display: block;
    width: .3rem;
    height: .2rem;
    margin: .3rem auto 0;
    background: url(../images/icon-arrow-down.png) no-repeat center center;
    background-size: .28rem .14rem;
}

.p-e-body {
    padding: 0 .2rem;
}

.p-e-box {
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
}

.p-e-table {
    display: table;
    width: 100%;
    height: .7rem;
    padding: .3rem 0;
}

.p-e-cell {
    display: table-cell;
    vertical-align: middle;
}

.p-e-cell:last-child {
    text-align: right;
}

.p-e-time {
    padding-left: .1rem;
    color: #838383;
}

.p-e-cont {
    font-size: .26rem;
    line-height: 1.6;
    text-align: justify;
    color: #282828;
}

.p-e-cont a {
    color: #282828;
}

.p-e-product {
    font-size: .24rem;
    margin-top: .12rem;
    color: #bebebe;
}

.p-e-footer {
    padding-left: .2rem;
    font-size: .24rem;
    color: #bebebe;
}

.p-e-footer span {
    vertical-align: middle;
}

.p-e-footer .p-e-line {
    padding: .1rem .2rem .1rem 0;
    border-bottom: 1px solid #e3e3e3;
}

.p-e-footer img {
    width: .22rem;
    height: .22rem;
}

.margR60 {
    margin-left: .6rem;
}

.p-e-official {
    padding: .3rem .2rem;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
}

.p-e-nickname {
    padding-right: .2rem;
    font-size: .26rem;
    color: #00a36f;
}

.p-e-reply {
    font-size: .26rem;
    color: #868686;
}

/* -- 右上角弹出 -- */

.marginT85 {
    margin-top: .85rem;
}

.main-content {
    position: relative;
    overflow-x: hidden;
}

.shortcut::before {
    content: '';
    position: absolute;
    top: .85rem;
    display: block;
    width: .18rem;
    height: .09rem;
    top: -.09rem;
    right: 10px;
    z-index: 100;
    background: url(../images/bg-trangle.png) no-repeat center center;
    background-size: .18rem .09rem;
}

.shortcut {
    position: fixed;
    top: .6rem;
    padding: 0 .15rem;
    border-radius: .05rem;
    background: url(../images/bg-menu-min.png) repeat;
    z-index: 100;
    transition: .3s ease;
    right: -100%;
    opacity: 0;
}

.shortcut.active {
    right: .1rem;
    opacity: 1;
}

.shortcut a {
    display: block;
    border-bottom: 1px solid #838383;
    font-size: .28rem;
    line-height: .7rem;
    color: #fff;
    transition: .3s ease;
    transform: translateX(100px);
    opacity: 0;
    transition-delay: .26s;
}

.shortcut a:last-child {
    border: none;
}

.shortcut.active a {
    transform: translateX(0px);
    opacity: 1;
}

.shortcut a+a {
    transition-delay: .32s;
}

.shortcut a+a+a {
    transition-delay: .38s;
}

.shortcut a+a+a+a {
    transition-delay: .44s;
}

.shortcut a+a+a+a+a {
    transition-delay: .5s;
}

.shortcut .shortcut-box {
    position: relative;
}

.shortcut-text {
    padding-left: .1rem;
    vertical-align: middle;
}

.shortcut-box img {
    width: .35rem;
    height: .35rem;
    vertical-align: middle;
}

/* -- 弹出客服 -- */

.table-hotline {
    display: table;
    width: 100%;
    height: .64rem;
    padding: .3rem 0 .3rem .2rem;
    border-bottom: 1px solid #e3e3e3;
}

.table-hotline-cell {
    display: table-cell;
    vertical-align: top;
}

.table-hotline-cell img {
    vertical-align: middle;
    width: .26rem;
    height: .26rem;
}

.table-hotline-cell:last-child {
    vertical-align: middle;
    text-align: right;
}

.btn-call {
    display: inline-block;
    width: 1.45rem;
    height: .55rem;
    margin-right: .2rem;
    border-radius: .05rem;
    border: 1px solid #d1d1d1;
    font-size: .26rem;
    text-align: center;
    line-height: .55rem;
    color: #626262;
}

.hc {
    font-size: .26rem;
    color: #868686;
}

.hc2 {
    font-family: '苹方';
    font-size: .32rem;
    font-weight: bold;
    color: #282828;
}

.text-initial {
    text-align: initial!important;
}

.table-hotline.active {
    padding-right: .2rem;
    color: #02ad7c;
}

.table-hotline.active .cur {
    background: url(../images/check-mark.png) no-repeat right center;
    background-size: .3rem .2rem;
}

.locate-addr {
    width: 5.1rem;
}

#btn-new-addr {
    -webkit-appearance: none;
    border-radius: 0;
    z-index: 3;
}

.layer-service,
.layer-dispatching,
.layer-explain {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    transition: .5s ease;
    /* padding-bottom: 2.35rem; */
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.layer-service {
    padding-bottom: 1.32rem;
}

.layer-dispatching {
    height: 65%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.layer-explain {
    padding-bottom: 2.32rem;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.layer-service.show,
.layer-dispatching.show,
.layer-explain.show {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.btn-sure:active {
    box-shadow: 0 0 4px #888;
}

.addr-box {
    width: .26rem;
    height: .26rem;
    margin-top: 2px;
    background: url(../images/icon-location.png) no-repeat center center;
    background-size: .21rem .25rem;
}

.active .addr-box {
    background: url(../images/icon-locate.png) no-repeat center center;
    background-size: .21rem .25rem;
}

.btn-dispatching input {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

/* -- 商品详情‘评价详情’ -- */

.c-table {
    display: table;
    width: 100%;
    height: 1rem;
    padding: 0 .2rem;
    box-shadow: 0 -2px 10px rgba(51, 51, 51, .1);
    background: #fff;
}

.c-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: .28rem;
}

.c-table-cell img {
    width: .28rem;
    height: .28rem;
}

.c-table-cell input {
    display: block;
    width: 4.1rem;
    height: .6rem;
    padding: 0 .2rem;
    border-radius: .1rem;
    font-size: .24rem;
    color: #666;
    line-height: .6rem;
    background: #f2f2f2;
}

.c-table-cell input::-webkit-input-placeholder {
    font-size: .24rem;
    color: #bcbcbc;
}

.c-table-cell:first-child {
    width: 4.4rem;
    text-align: initial;
}

.e-cell:first-child {
    width: 6.4%;
}

.e-cell:last-child {
    width: 93.6%;
}

.color28 {
    color: #282828;
}

/* -- 结算页面 -- */

.paddH20 {
    padding: 0 .2rem;
}

.s-head {
    padding: .2rem;
    font-size: .24rem;
    color: #fff;
    text-align: center;
    background-color: #49c8a3;
}

.s-userinfo {
    margin-bottom: .15rem;
    padding: .3rem .2rem;
    border-bottom: .04rem dashed #49c8a3;
}

.s-userinfo a {
    color: #333;
}

.s-u-title {
    margin-bottom: .2rem;
    font-family: '苹方';
    font-size: .32rem;
    font-weight: bold;
    color: #333;
}

.s-u-title span:first-child {
    margin-right: .6rem;
}

.paddH40 {
    padding: 0 .4rem;
}

.s-u-cont {
    background: url(../images/icon-location.png) no-repeat left .05rem;
    background-size: .26rem .32rem;
}

.arrowR {
    background: url(../images/icon-arrow-right.png) no-repeat right center;
    background-size: .16rem .25rem;
}

.arrowR2 {
    background: url(../images/icon-arrow-right2.png) no-repeat right center;
    background-size: .16rem .25rem;
}

.s-way {
    padding-left: .2rem;
}

.s-c-wrap {
    height: 1.14rem;
    overflow-y: hidden;
}

.percent80 {
    width: 80%;
    height: 1.14rem;
    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.percent80 .swiper-slide {
    width: 1.42rem;
    height: 1.14rem;
}

.percent20 {
    width: 20%;
}

.percent20 .s-c-item {
    width: 100%;
    height: 1.14rem;
    margin-right: .2rem;
}

.s-c-box {
    width: 1.14rem;
    height: 1.14rem;
    margin: 0 auto;
}

.borb-e3 {
    border-bottom: 1px solid #e3e3e3;
}

.bort-e5 {
    border-bottom: 1px solid #e5e5e5;
}

.s-commodity {
    padding: .4rem 0;
}

.s-commodity,
.s-commodity a {
    font-size: .24rem;
    color: #282828;
}

.s-w-row {
    padding: .3rem .2rem .3rem 0;
    font-size: .3rem;
    color: #282828;
}

.table {
    display: table;
    width: 100%;
    height: 100%;
}

.table-cell {
    display: table-cell;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.paddR40 {
    padding-right: .4rem;
}

.s-line {
    padding: .3rem .2rem;
    font-size: .3rem;
}

.s-line a {
    color: #282828;
}

.margR40 {
    margin-right: .4rem;
}

.color96 {
    color: #969696!important;
}

.s-l-words {
    display: block;
    max-width: 6.2rem;
    min-height: .37rem;
    width: 100%;
    margin-left: .9rem;
    border: none;
    outline: none;
    resize: none;
    resize: vertical;
}

/* .font28{
    font-size: .28rem!important;
} */

.s-w-row a {
    color: #282828;
}

.contenteditable:empty:before {
    content: attr(placeholder);
    color: #bbb;
}

.contenteditable:focus:before {
    content: none;
}

.s-price {
    font-family: '苹方';
    font-size: .28rem;
    font-weight: bold;
    color: #f23030;
}

.s-price2 {
    font-size: .3rem;
    color: #f23030;
}

.btn-order-submit {
    display: block;
    width: 2.4rem;
    height: 1rem;
    border: none;
    outline: none;
    font-size: .34rem;
    background-color: #00a36f;
    color: #fff;
}

.s-foot {
    height: 1rem;
    line-height: 1rem;
    background-color: #fff;
}

.s-foot .s-price2 {
    width: 68%;
    padding-right: .2rem;
}

.s-foot .s-btnwrap {
    width: .32%;
}

/* -- 购物车页面 -- */

/* == 右上角红色信息开始 == */

.info-group {
    position: absolute;
    top: 0;
    right: .33rem;
    height: 100%;
}

.info-box {
    position: relative;
    width: .36rem;
    height: .36rem;
    margin: 0 auto;
    margin-left: .2rem;
}

.info-box a {
    display: block;
}

.info-box .red-circle-text {
    top: -.05rem;
    right: -.1rem;
}

.info-img {
    display: block;
    width: .36rem!important;
    height: .36rem!important;
}

/* == 右上角红色信息结束 == */

/* == 购物车 "为空" == */

.empty-cart {
    text-align: center;
}

.empty-title {
    font-size: .3rem;
    color: #282828;
}

.empty-box {
    margin-top: 4.3rem;
    text-align: center;
}

.empty-box>img {
    width: 1.68rem;
    height: 1.63rem;
}

.empty-title {
    margin: .24rem 0 .1rem;
}

.empty-cont {
    font-size: .24rem;
    color: #e3e3e3;
}

/* == 购物车 "编辑" == */

.btn-edit {
    font-size: .3rem;
    color: #999;
    transition: .3s ease;
}

.btn-finish {
    display: none;
    font-size: .3rem;
    color: #999;
    transition: .3s ease;
}

.active .btn-edit {
    display: none;
}

.active .btn-finish {
    display: block;
}

.btn-settle {
    display: block;
    width: 2.4rem;
    height: 1rem;
    border: none;
    outline: none;
    font-size: .34rem;
    background-color: #00a36f;
    color: #fff;
}

.cart-end {
    height: 1rem;
    border-top: 1px solid #e5e5e5;
    line-height: 1rem;
    background-color: #fff;
}

.selectwrap {
    min-width: 3.4rem;
    padding-left: .2rem;
}

.selectprice {
    vertical-align: middle;
    padding-left: .2rem;
    font-size: .3rem;
    color: #0d0d0d;
}

.checkall-text {
    vertical-align: middle;
    font-size: .24rem;
    color: #0d0d0d;
}

.btn-to {
    padding-right: .2rem;
    display: none;
}

.btn-to button {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    border: none;
    outline: none;
    min-width: 1.24rem;
    height: .54rem;
    padding: 0 .1rem;
    border-radius: .05rem;
    font-size: .26rem;
    line-height: .5rem;
    background-color: #fff;
}

.btn-to button:active {
    box-shadow: 0 0 .05rem #888;
}

.btn-to .btn-to-collect {
    border: 1px solid #969696;
    color: #969696;
}

.btn-to .btn-to-del {
    margin-left: .1rem;
    border: 1px solid #01ad7b;
    color: #01ad7b;
}

/* == 购物车未点编辑 == */

.cart-end .selectprice,
.cart-end .btn-go,
.cart-end .btn-to {
    transition: .3s ease;
}

.cart-end.active .btn-to {
    display: block;
}

.cart-end.active .selectprice,
.cart-end.active .btn-go {
    display: none;
}

/* == 购物车未点编辑 == */

.cart {
    margin-top: .2rem;
    overflow-x: hidden;
}

.cart-body {
    background: #fff;
}

.cart-body li:last-child {
    padding-bottom: .3rem;
}

.cart-body>li {
    position: relative;
    padding-top: .3rem;
    background: #fff;
}

.cart-body>li>div {
    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: top;
    border: none;
}

.cart-body>li.disabled>div:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(96, 95, 95, 0.3);
    z-index: 5;
}

.cart-body .cart-tab-1 {
    text-align: left;
    border-left: 1px solid #e9e9e9;
}

.cart-body .cart-tab-2 {
    padding-top: 64px;
}

.cart-body .cart-tab-3 {
    padding-top: 48px;
}

.cart-body .cart-tab-4 {
    padding-top: 64px;
}

.cart-body .cart-tab-5 {
    padding-top: 62px;
    border-right: 1px solid #e9e9e9;
}

.cart-body .cart-item-check {
    float: left;
    padding: 28px 0 28px 22px;
}

.cart-body .cart-item-pic {
    float: left;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 .2rem;
    border: 1px solid #d7d7d7;
    border-radius: .05rem;
    overflow: hidden;
}

.cart-body .cart-item-title {
    min-height: 58px;
    padding: 0 20px 0 160px;
}

.cart-body .cart-item-title .item-name {
    margin: 2px 0 10px;
    line-height: 16px;
    color: #000;
    font-size: .26rem;
    color: #282828;
}

.cart-body .cart-item-title .item-count-down .icon-clock {
    width: 14px;
    height: 14px;
    fill: #605F5F;
    vertical-align: middle;
}

.cart-body .cart-item-title .item-count-down .item-count-down-time {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    background: #f0f0f0;
    font-size: .12rem;
    color: #605F5F;
}

.cart-body .item-include {
    position: relative;
    padding-left: 160px;
}

.cart-body .item-include dl {
    padding-right: 60px;
}

.cart-body .item-include dl dt {
    float: left;
    width: 65px;
}

.cart-body .item-include dl dd {
    margin-bottom: 13px;
    padding-left: 65px;
    color: #999;
}

.cart-body .item-include dl:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

.cart-body .item-include .item-include-more {
    position: absolute;
    right: 10px;
    top: 0;
}

.cart-body .item-stock {
    margin-top: 5px;
    font-size: .12rem;
    color: #999;
}

.cart-body .item-stock-no {
    color: #d1434a;
}

.cart-body .item-price-total {
    color: #d1434a;
}

.item-check-btn {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin: 0 .04rem;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.item-check-btn input {
    display: none;
}

.item-check-btn .icon-ok {
    display: none;
    width: 100%;
    height: 100%;
    fill: #fff;
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.item-check-btn.check {
    background: url(../images/checked.png) no-repeat center;
    background-size: cover;
}

.item-check-btn.check .icon-ok {
    display: inline-block;
}

.item-edit-btn {
    display: inline-block;
    width: 16px;
    height: 20px;
}

.item-edit-btn .icon-del {
    width: 100%;
    height: 100%;
    fill: #999;
}

.order-item .cart-body .cart-item-title,
.order-item .cart-body .item-include {
    padding-left: 122px;
}

.order-item .select-self-area .select-ipt {
    padding: 0;
    text-align: center;
}

.cart-body .line {
    position: relative;
    z-index: 2;
    padding: 0 .2rem;
    background-color: #fff;
}

.shipping-method {
    text-align: center;
}

.shipping-method li {
    display: inline-block;
    width: 300px;
    margin: 5px;
    padding: 10px;
    background: #fff;
    border: 2px solid #e9e9e9;
    font-size: .18rem;
    line-height: 26px;
    text-align: center;
    color: #999;
    font-family: "Moderat";
    cursor: pointer;
}

.shipping-method li .price {
    font-weight: bold;
}

.shipping-method li.check {
    border-color: #EE7A23;
    color: #333;
}

.shipping-method li:hover {
    border-color: #EE7A23;
}

.apply-promotion {
    font-size: 0;
    text-align: center;
    background: #fff;
}

.apply-promotion li {
    display: inline-block;
    font-size: .14rem;
    width: 25%;
    min-height: 114px;
    vertical-align: top;
}

.apply-promotion li p {
    margin-top: 12px;
    font-size: .18rem;
}

.apply-promotion .type i {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url(../../img/icon_sprite@2x.png) no-repeat 0 0;
    background-size: 128px 122px;
}

.apply-promotion .type.type-cash i {
    background-position: -68px 0;
}

.apply-promotion .type.type-sale i {
    width: 66px;
}

.apply-promotion .type.type-off i {
    background-position: 0 -62px;
}

.price-count ul {
    display: table;
    width: 100%;
}

.price-count li {
    display: table-row;
    font-size: .18rem;
}

.price-count li span {
    display: table-cell;
    height: 36px;
    padding-right: 10px;
    vertical-align: top;
    text-align: right;
}

.price-count li span:first-child {
    color: #999;
}

.price-count li span:last-child {
    width: 110px;
}

.price-count .order-total-price span:last-child {
    color: #d1434a;
}

.tips_pop {
    position: relative;
}

.tips_pop .i_info {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../../img/info.png) no-repeat 0 0;
    background-size: 100% auto;
    border-radius: 50%;
}

.tips_pop .tips_pop_box {
    position: absolute;
    bottom: 28px;
    left: -250px;
    display: none;
    width: 274px;
    padding: 20px 10px;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
}

.tips_pop .i_down {
    position: absolute;
    bottom: -6px;
    left: 250px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tips_pop:hover .tips_pop_box {
    display: block;
}

.tee_tips_pop {
    display: inline-block;
    margin-right: 44px;
    font-size: .14rem;
    text-align: left;
}

.tee_tips_pop dt {
    margin-bottom: 10px;
    color: #333;
}

.tee_tips_pop .tee_pop_box em {
    display: inline-block;
    width: 190px;
    vertical-align: top;
}

.tee_tips_pop .tee_pop_box .price {
    width: 50px;
    text-align: right;
}

.tee_tips_pop .tee_pop_box .tee_total {
    margin-top: 13px;
    padding-top: 13px;
    border-top: 1px solid #f0f0f0;
}

.tee_tips_pop .tee_pop_box .tee_total em {
    color: #333;
}

.tee_tips_pop .tee_pop_box .price {
    color: #d1434a;
}

.order-create {
    padding: 30px 0 40px 0;
    background: #fff;
    text-align: center;
}

.order-create-pic {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 18px;
}

.order-create-pic img {
    width: 100%;
}

.order-create-main h3 {
    margin-bottom: 18px;
    font-size: .32rem;
    line-height: 1.5em;
}

.order-create-main p {
    margin-bottom: 86px;
    font-size: .16rem;
    line-height: 1.5em;
    color: #666;
}

.order-create-main .order-create-btn-wrap {
    max-width: 460px;
    margin: 0 auto;
    padding: 0 5px;
}

.order-create-main .order-create-btn-wrap>div {
    float: left;
    width: 50%;
    padding: 0 10px;
}

.order-create-main .order-create-btn-wrap .btn {
    width: 100%;
    min-width: auto;
}

.order-create-main .order-create-btn-wrap:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

.order-create-main .get-lecode {
    margin-bottom: 40px;
    padding: 0 10px;
}

.order-create-main .get-lecode .lecode-main {
    max-width: 767px;
    margin: 0 auto 10px auto;
    padding: 37px 0;
    border: 1px dashed #EE7A23;
}

.order-create-main .get-lecode .lecode-main .lecode-num {
    margin-bottom: 20px;
    color: #EE7A23;
    font-size: .2;
}

.order-create-main .get-lecode .get-lecode-tips {
    color: #999;
    line-height: 16px;
    line-height: 18px;
}

.cart-foot-wrap .cart-foot-l {
    float: left;
    font-size: .16rem;
    padding: .3rem 0;
}

.cart-foot-wrap .item-all-check {
    float: left;
    font-family: 'PingFangSC-Medium';
    font-size: .24rem;
    color: #0d0d0d;
}

.cart-foot-wrap .item-all-check .item-check-btn {
    margin-right: 18px;
}

.cart-foot-wrap .item-all-check span {
    vertical-align: middle;
}

.cart-foot-wrap .item-all-del {
    float: left;
    margin-top: 2px;
}

.cart-foot-wrap .item-total {
    float: left;
    margin-top: .3rem;
    margin-left: .24rem;
    font-size: .3rem;
    color: #0d0d0d;
}

.cart-foot-wrap .item-total .total-price {
    color: #0d0d0d;
    font-family: "moderat", sans-serif;
}

.cart-foot-wrap .next-btn-wrap {
    float: right;
}

.cart-foot-wrap:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
}

.cart-foot-wrap .cart-foot-l {
    padding-left: .25rem;
}

.head-nav {
    margin-bottom: .2rem;
    border-bottom: 1px solid #ddd;
    font-size: .3rem;
    line-height: .36rem;
    background-color: #fff;
    color: #b0b0b0;
}

.head-nav span {
    vertical-align: middle;
}

.head-nav .new-info {
    width: .36rem;
    height: auto;
    margin-left: .12rem;
    vertical-align: middle;
}

.head-title {
    font-family: 'PingFangSC-Medium';
    font-size: .36rem;
    color: #000;
}

.paddV30 {
    padding: .3rem .22rem;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.btn-back {
    width: .22rem;
}

.cart-head {
    height: .9rem;
    padding: 0 .2rem;
    border-top: 1px solid #e3e3e3;
    font-size: .28rem;
    line-height: .9rem;
    background: #fafafa;
    color: #434343;
}

.cart-num {
    color: #282828;
}

.picked-up {
    display: inline-block;
    min-width: .6rem;
    min-height: .3rem;
    margin-left: .01rem;
    border: 1px solid #13aa7a;
    border-radius: .05rem;
    font-size: .2rem;
    text-align: center;
    color: #13aa7a;
}

.media-body {
    width: 10000px;
}

.media-object {
    display: block;
}

.media-object.img-thumbnail {
    max-width: none;
}

.media-right,
.media>.pull-right {
    padding-left: 10px;
}

.media-left,
.media-right,
.media-body {
    display: table-cell;
    vertical-align: top;
}

.media-middle {
    vertical-align: middle;
}

.media-bottom {
    vertical-align: bottom;
}

.media-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.media-list {
    padding-left: 0;
    list-style: none;
}

.cart-item-text {
    position: relative;
    height: 1.6rem;
    margin-left: 2rem;
}

.item-name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.item-name span {
    vertical-align: middle;
}

.kg {
    margin-top: 5px;
    font-size: .24rem;
    color: #acacac;
}

.money {
    position: absolute;
    bottom: 0;
    color: #f23030;
    font-weight: bold;
}

.price {
    font-size: .3rem;
}

.RMB {
    font-size: .26rem;
}

.btn-control {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid #cbcbcb;
    border-radius: .05rem;
}

.btn-action {
    display: inline-block;
    width: .48rem;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: .48rem;
}

.btn-action.amount {
    width: .56rem;
}

.btn-action img {
    width: .24rem;
    height: .24rem;
    vertical-align: middle;
}

.btn-del {
    border-right: 1px solid #cbcbcb;
}

.btn-add {
    border-left: 1px solid #cbcbcb;
}

.item-del-btn {
    font-size: .24rem;
}

.btn-settle {
    width: 2.4rem;
    height: .98rem;
    font-size: .34rem;
    line-height: .98rem;
    background: #00a36f;
    color: #fff;
}

.btn-settle:active {
    opacity: .8;
    filter: alpha(opacity=80);
}

.del-action {
    position: absolute;
    right: 0;
    top: .3rem;
    height: 1.6rem;
    font-size: .32rem;
    line-height: 1.6rem;
    color: #fff;
}

.del-action-cell {
    float: left;
    padding: 0 .3rem;
}

.btn-collect {
    background-color: #ffae00;
}

.btn-remove {
    background-color: #13aa7a;
}

.paddB120 {
    padding-bottom: 1.2rem;
}

/* == 重置layer mobile样式 == */

.layui-m-layerbtn {
    background: none!important;
}

.layui-m-layerbtn span[yes] {
    color: #00a36f!important;
}

body .layui-m-layer .layui-m-layer-msg {
    bottom: initial!important;
}

/* -- 评价晒图 -- */

.print-foot {
    height: 1rem;
    padding: 0 .2rem;
    font-size: .22rem;
    line-height: 1rem;
    background-color: #000;
    color: #fff;
}

.print-item {
    display: inline-block;
    vertical-align: middle;
    margin-left: .5rem;
    color: #fff;
}

.print-item:first-child {
    margin-left: 0;
}

.print-item:last-child {
    float: right;
    margin-top: .35rem;
}

.print-item>div {
    float: left;
    font-size: .28rem;
    line-height: .3rem;
}

.print-box {
    width: .3rem;
    height: .3rem;
}

.print-text {
    padding-left: .1rem;
    height: .3rem;
}

.print-title {
    border: none;
    background: url(../images/bg-print-title.png) repeat;
    color: #fff;
}

.print-cont {
    position: fixed;
    bottom: 1rem;
    z-index: 2;
    width: 100%;
    max-width: 7.5rem;
    background: url(../images/bg-print-slide.png) repeat;
}

.print-foot img {
    width: .3rem;
    height: .3rem;
}

.p-slide-starts {
    margin: .3rem 0;
}

.p-slide-text {
    margin-bottom: .3rem;
    color: #fff;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.text-justify {
    text-align: justify;
}

.print,
.print .swiper-container {
    width: 100%;
    height: 100%;
}

.print .swiper-slide {
    background-color: #000;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* -- 自营入库开始 -- */

.choose-goods {
    margin-top: .2rem;
    padding: .3rem .2rem;
    font-family: '苹方';
    font-size: .3rem;
    font-weight: bold;
}

.choose-goods a {
    display: block;
    color: #e82f2f;
}

.choosen {
    margin-top: .2rem;
}

.choosen-list {
    transition: .3s ease;
}

.choosen-title {
    padding: .3rem 0;
    font-size: .28rem;
    color: #282828;
}

.choosen-list .table {
    padding: .3rem 0;
    border-top: 1px solid #e3e3e3;
}

.choosen-list .table-cell {
    position: relative;
    width: 33.333%;
    vertical-align: middle;
    text-align: right;
}

.choosen-list .table-cell .btn-control {
    position: relative;
    float: right;
    width: 1.68rem;
}

.choosen-list .table-cell .btn-action.amount {
    width: .5rem;
}

.choosen-list .table-cell:first-child {
    text-align: left;
}

.choosen-list .table-cell .yuan {
    margin-top: .1rem;
}

.choosen-box {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: .2rem;
    border-radius: .05rem;
    border: 1px solid #e2e2e2;
}

.choosen-box>img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.color86 {
    color: #868686;
}

.btn-c-del {
    min-width: .8rem;
    height: .5rem;
    border: 1px solid #282828;
    border-radius: .05rem;
    font-size: .26rem;
    line-height: .5rem;
    color: #282828;
    background: #fff;
}

.btn-c-del:active,
.btn-storage:active {
    box-shadow: 0 0 .05rem #888;
}

.btn-storage {
    display: block;
    width: 100%;
    height: .9rem;
    border-radius: .05rem;
    border: none;
    font-size: .32rem;
    background-color: #2494ff;
    color: #fff;
}

.margT30 {
    margin-top: .3rem;
}

/* -- 自营入库结束 -- */

/* -- 选择商品 -- */

.goods .am-category-list {
    top: .85rem;
}

.goods-box {
    width: 1.5rem;
    height: 1.5rem;
}

.goods-text {
    position: relative;
    height: 1.5rem;
    margin-left: 1.8rem;
    color: #282828;
}

.goods-cells li {
    position: relative;
    padding: .2rem .3rem;
    border-bottom: 1px solid #f2f2f2;
}

.goods-cells li:last-child {
    border: none;
}

.goods-title {
    display: -webkit-box;
    padding-top: .2rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .26rem;
}

.goods-line {
    margin-top: .3rem;
    line-height: .48rem;
    color: #f43737;
}

.goods-price {
    font-size: .26rem;
}

.goods-price i {
    font-size: .3rem;
}

.btn-goods {
    display: block;
    width: .48rem;
    height: .48rem;
    border-radius: .05rem;
    background: url(../images/icon-cart-mini.png) no-repeat center;
    background-size: cover;
}

.whiteline {
    width: .6rem;
}

.btn-confirm-close {
    display: block;
    width: .6rem;
    height: .6rem;
    background: none;
}

.whitegap {
    width: .02rem;
    height: 1.1rem;
}

.whiteline .img-responsive {
    margin: 0 auto;
}

.input-layer-body {
    padding: .4rem 0;
    border-radius: .1rem .1rem 0 0;
    text-align: center;
    background-color: #fff;
}

.input-layer-body input {
    width: 3.7rem;
    height: .7rem;
    margin: 0 auto;
    border: 1px solid #00a36f;
    border-radius: .1rem;
    font-size: .3rem;
    text-align: center;
    color: #aaa;
    display: block;
    -webkit-appearance: none;
    appearance: none;
}

.input-layer-body input::placeholder {
    font-size: .3rem;
    color: #aaa;
}

.input-layer-foot {
    width: 5.4rem;
    height: .8rem;
    border-radius: 0 0 .1rem .1rem;
    background-color: #00a36f;
    overflow: hidden;
}

.input-layer-foot button {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: '萍方简';
    font-size: .34rem;
    background-color: #00a36f;
    color: #fff;
}

.cart-end.am-navbar {
    padding: 0;
}

.paddHV {
    padding: .3rem .2rem;
}

.color5 {
    color: #5f5f5f;
    line-height: 1.6;
}

#city {
    width: 96%;
}

/* --- 首页四 -- */

.banner4 {
    background: url(../images/index-head-bg.png) no-repeat;
    background-size: cover;
}

.banner4 .swiper-container {
    width: 100%;
    height: 100%;
}

.banner4 .swiper-slide {
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* == 首页4小圆点样式开始 == */

.banner4 .swiper-pagination-bullets {
    bottom: .24rem;
}

.banner4 .swiper-pagination-bullet {
    width: .15rem;
    height: .15rem;
    border-radius: 50%;
    background: url(../images/icon-bullet4.png) no-repeat center center;
    background-size: cover;
    opacity: 1;
}

.banner4 .swiper-pagination-bullet-active {
    background: #00ac7a;
}

.banner .swiper-pagination-bullet {
    opacity: 1;
}

/* == 首页4小圆点样式结束 == */

.nav4 a {
    color: #333;
}

.nav4 li {
    float: left;
    width: 25%;
    margin-bottom: .4rem;
}

.nav4-box {
    width: 1.01rem;
    height: 1.01rem;
    margin: 0 auto;
    border-radius: 50%;
}

.nav4-title {
    margin: .2rem auto 0;
    font-size: .24rem;
    text-align: center;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.nav4 {
    padding-top: .4rem;
}

.topic4 {
    height: .85rem;
    padding: 0 .3rem;
}

.topic4 .table-cell {
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.topic4 .table-cell:first-child {
    width: 1.7rem;
    height: .85rem;
}

.ware4-list {
    padding: 0 .175rem;
}

.ware4-list li {
    float: left;
    width: 33.333%;
    margin-bottom: .3rem;
    padding: 0 .175rem;
    text-align: center;
}

.ware4-box {
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
}

.ware-name {
    margin: .2rem 0 .1rem;
    font-size: .22rem;
    color: #4d4d4d;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.ware-price {
    font-family: '苹方';
    font-weight: bold;
    font-size: .26rem;
    color: #f23030;
}

.ware4-title {
    height: 1.2rem;
    margin: 0 .35rem;
    font-size: .32rem;
    color: #000;
    line-height: 1.2rem;
}

.ware4-title .en {
    font-size: .23rem;
    color: #000;
}

.ware4-title .en .text-hotlist {
    width: .97rem;
    height: .18rem;
}

.ware4-title .en .text-trendy {
    width: 1.76rem;
    height: .17rem;
}

.arrowTrangle {
    background: url(../images/icon-trangle-right.png) no-repeat right center;
    background-size: .07rem .1rem;
}

.inner-banner {
    padding: 0 .35rem;
    text-align: center;
}

.inner-banner .img-responsive {
    margin: 0 auto;
}

.inner-head {
    margin: .1rem .35rem;
}

.inner-box {
    width: 2.18rem;
    height: 2.42rem;
    margin: 0 auto;
    background: #f2f2f2;
}

.inner-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.inner-list {
    margin: 0 .35rem;
    padding-bottom: .3rem;
}

.inner-list dd {
    float: left;
    width: 2.18rem;
    margin-left: .13rem;
    margin-top: .3rem;
    text-align: center;
}

.inner-list dd:nth-child(3n+1) {
    margin-left: 0;
}

.inner-title {
    margin: .2rem 0;
    font-size: .22rem;
    color: #4d4d4d;
}

.inner-btn {
    height: .4rem;
    padding: 0 .15rem;
    border-radius: .2rem;
    font-size: .18rem;
    line-height: .4rem;
    background-color: #00ad7a;
    color: #fff;
}

.inner-btn {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.inner-p {
    font-family: '苹方';
    font-weight: bold;
    margin-top: .15rem;
    font-size: .26rem;
    color: #f23030;
}

.theme4 .i-head {
    background: none;
    transition: .3s ease;
}

.theme4 .btn-goback {
    color: #fff;
}

.holder {
    padding-bottom: 1.6rem;
}

/* === 首页4专题滚动 == */

.topic4 span {
    font-size: .28rem;
}

.scroll-box {
    position: absolute;
    top: 0;
    padding-left: .4rem;
    overflow: hidden;
}

.topic4 .scroll-box a {
    display: block;
    line-height: .9rem;
}

.topic4 a {
    display: inline-block;
    font-size: .3rem;
    color: #333;
}

.icon-highlight4 a {
    padding: .03rem;
    border-radius: .05rem;
    font-size: .24rem;
    color: #fff;
    background-color: #00ac7a;
}

.topic4 span,
.topic4 span img,
.text-topic {
    vertical-align: middle;
}

.icon-voice img {
    width: .28rem;
    height: .28rem;
}

.text-topic img {
    width: .56rem;
    height: .28rem;
    vertical-align: middle;
}

.icon-highlight4 img {
    width: .48rem;
    height: .28rem;
}

.i-search {
    pointer-events: none;
}

.i-search input {
    pointer-events: initial;
}

.back-to-top {
    position: fixed;
    bottom: 1.35rem;
    right: .35rem;
}

.back-to-top a {
    display: block;
}

.back-to-top img {
    display: block;
    width: .76rem;
    height: .76rem;
}

.to-forward {
    display: block;
    width: .5rem;
    height: .6rem;
    background: url(../images/icon-arrow-left.png) no-repeat left center;
    background-size: .22rem .37rem;
}

.new-search {
    width: 6rem!important;
}

.active.i-head .new-search {
    width: 5.6rem!important;
}

.icon-time-green {
    width: .26rem;
    height: .26rem;
    margin-right: .1rem;
}